h1{
    color: #f8f6f6;
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    background-color: black;
    text-shadow: 10px 4px 10px yellow;
    text-decoration: underline;

}
img{
    width: 400px;
    height: 300px;

}
img:hover{
    opacity: 0.8;
}